.displayweather {
  margin-top: 20px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.displayweather .maincard {
  width: 540px;
  margin-top: 20px;
  left: 40px;
  align-self: center;
  padding: 50px;
  border-radius: 20px;
  position: relative;
  background: rgba(2, 0, 14, 0.815);
  box-shadow: 0 0 20px rgba(2, 41, 60, 0.7);
  border: 1px solid black;
  color: white;
}

.displayweather .maincard .cardtitle {
  position: absolute;
  top: 10px;
  left: 20px;
  font-size: 1.5rem;
}

.displayweather .maincard .cardsubtitle {
  position: absolute;
  left: 30px;

  color: rgb(243, 244, 188);
  margin-top: -8px;
}

.displayweather .center-temp {
  display: flex;
  justify-content: space-evenly;
  padding: 0;
  height: 100px;
}
.displayweather h1 {
  margin: 0;
  font-size: 5rem;
}

.displayweather .icon-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100px;
  margin: 0;
  margin-left: -70px;
}

.displayweather .weather-icon {
  height: 100px;
  width: 100px;
}

.displayweather .weather-main {
  font-weight: 500;
  font-size: 1.2rem;
  margin-top: -6px;
}

.displayweather .weather-description {
  position: absolute;
  left: 15px;
  bottom: 8px;
  font-size: 1.4rem;
}
.displayweather .weatherdetails {
  margin-left: 50px;
  margin-right: 50px;

  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  grid-gap: 20px;
}
.displayweather .weatherdetails .section1,
.displayweather .weatherdetails .section2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.displayweather .table1,
.displayweather .table2 {
  margin-top: 10px;
  box-shadow: 0 0 10px rgba(3, 60, 88, 0.2);
  border-radius: 0.4rem;
  padding-right: 5px;
}

h4 {
  text-align: left;
  margin-left: 10px;
  margin-right: 30px;
  font-size: 1.2rem;
}

.displayweather .weatherdetails span {
  font-size: 1.2rem;
}

.table1 tr,
.table2 tr {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 10px;
}
